/*!
CSS for the _d (Underscored)-template (2022) - this should get you started out on a good foot; now take it and run with it...!
*/
body.blog,body.home,body.page-template-default,div#page{font 15px Arial, sans-serif, serif; background:#FFF;color:#000;width:100%;max-width:95%;margin:0 auto}
main,footer{width:100%;max-width:100%;margin:0 auto;border-bottom:solid 1px #ccc; margin:12px auto 12px auto}
ul#primary-menu{border-bottom: solid 1px #ccc; padding:0 0 21px 0}
ul#primary-menu li.menu-item a{margin-right:15px}
div.site-branding p.site-title a{font-size:27px;font-weight:600}
article#post-26 h1.entry-title{display:none}
article h1.entry-title,h2.entry-title a{font-size:24px;font-weight:600}
a,a:active,a:link,a:visited{text-decoration:none;color:#000}
a:hover{text-decoration:underline}article.page,article.post,footer#colophon,header#masthead{margin:0 auto}
article.post{margin: 0 0 32px 0}
article.post:last-child{margin-bottom:0}
footer.entry-footer{width:100%;border-bottom:none;margin:33px auto}
h2.entry-title:first-child{border-top:none}
button.menu-toggle{border:1px solid #000;width:45px;font-size:40px;font-weight:600;padding:0;background:#fff;float:right;margin-bottom:27px}
audio,iframe,img,input,video{width:100%;max-width:100%}img,video{height:auto}

/*Elastic videos: https://webdesignerwall.com/tutorials/css-elastic-videos - remember to encapsulate your YT-iframe tags with elements using the following selectors */
.video-container{position:relative;padding-bottom:56.25%;padding-top:30px;height:0;overflow:hidden}
.video-container embed,.video-container iframe,.video-container object{position:absolute;top:0;left:0;width:100%;height:100%}

/*This is if you want to remove the RECAPTCHA-icon certain mail-plugins insert; remove/comment if not neccessary */
.grecaptcha-badge {visibility: hidden} 
.grecaptcha-badge {visibility: hidden} 
.grecaptcha-badge {visibility: hidden}

figure.wp-block-image figcaption {font-size:15px; text-align:center}
div.site-info{font-size:11px;text-align:center}

/*An emoji-fix: fixes the size of inline-used emojis */
p img{width:16px; height: auto}

/*Uncomment selector below, if you want comments to be left*/
/*span.comments-link{display:none}*/

@media only screen and (max-width:480px){
main{width:100%;border-bottom:none}
article.post,article.page{width:100%;max-width:100%;margin:0 auto}
p.site-title,article{border-bottom:solid 1px #ccc; margin:0 0 12px 0}
h1.entry-title,h2.entry-title:first-child{border-top:solid 1px #ccc; margin:0 0 12px 0}
ul#primary-menu{border-bottom:0 none; padding:0}
ul#primary-menu li.menu-item{height:45px;padding:15px,0;float:clear}
figure.wp-block-image figcaption {font-size:1em; text-align:center}
div.site-info{font-size:0.6em;text-align:center}
